<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

  <h1 class="text-white text-center">EXPRIMEZ VOTRE SOUTIEN</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">DONNEZ DÈS MAINTENANT</h2>
    </div>
    <div class="panel-red">
      <h3 class="text-center">ETAPE 2/3 : PAIEMENT ANNULÉ</h3>
    </div>
    <div class="panel-body text-justify">
      <p class="text-danger text-center">Votre paiement a été annulé.</p>
      <p>
        Votre paiement en ligne a été annulé. <u>Votre carte n'a pas été débitée.</u>
      </p>
      <p>En remplacement, nous vous invitons à manifester votre soutien par chèque en cliquant ci-dessous :</p>
      <div class="text-center">
        <a href="/don_cheque" ><button type="button" class="btn btn-primary">DONNER PAR CHÈQUE</button></a>
      </div>
    </div>
  </div>
</div>