<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

  <h1 class="text-white text-center">EXPRIMEZ VOTRE SOUTIEN</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">DONNEZ DÈS MAINTENANT PAR CHÈQUE</h2>
    </div>
    <div class="panel-red">
      <h3 class="text-center">ETAPE 3/3 : TELECHARGEZ ET RENVOYEZ LE FORMULAIRE DE DON</h3>
    </div>
    <div class="panel-body">
      <p>Pour tout don par chèque :</p>
      <ol>
        <li>Téléchargez le bulletin de don en cliquant-ci-dessous :
          <br/>
          <div class="text-center">
            <a href="/bulletin_soutien.pdf" target="_blank"><button type="button" class="btn btn-primary">TÉLÉCHARGER LE BULLETIN DE DON</button></a>
          </div>
        </li>
        <br/>
        <li>Imprimez le bulletin de don.</li>
        <br/>
        <li>Envoyez le bulletin complété par courrier, accompagné d'un chèque à l'ordre de <strong>ANFCAPAJ</strong>, à l'adresse ci-dessous :
        <br/>
          <div class="text-center">
            <p>ANFCAPAJ<br/>
              29 bld Raspail<br/>
              75007 PARIS</p>
          </div>
        </li>
        <br/>
        <li>Un message de confirmation vous sera adressé à réception de votre courrier.</li>
      </ol>
      <hr>
      <p style="text-align:center;font-size:14px;"> Merci de votre soutien </p>
      <hr>
      <p style="text-align:center;font-size:9px;line-height:14px;">
        Votre don vous donne droit à une réduction annuelle d'impôt sur le revenu
        <br>
        à hauteur de 66% de son montant, dans la double limite de 20% du revenu
        <br>
        imposable et de 15 000 € par foyer fiscal.
      </p>
    </div>
  </div>
</div>