<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

  <h1 class="text-white text-center">EXPRIMEZ VOTRE SOUTIEN</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">MERCI !</h2>
    </div>
    <div class="panel-red">
      <h3 class="text-center">ETAPE 3/3 : PAIEMENT CONFIRMÉ</h3>
    </div>
    <div class="panel-body text-justify">
      <p>Seuls vos dons rendent possible la candidature d'Alain Juppé à la primaire de la droite et du centre les 20 et 27 novembre 2016.<br/>
      A ce titre, nous vous remercions très chaleureusement pour votre action.</p>
      <br/>
      <p>
      Si d'autres personnes de votre entourage peuvent contribuer à la campagne d'Alain Juppé, n'hésitez pas à leur transmettre le lien <a href="http://don.alainjuppe2017.fr">http://don.alainjuppe2017.fr</a>.
      </p>
      <br/>
      <p>
      Ensemble, construisons la France de demain.<br/>
      Avec toute notre gratitude,
      </p>
      <p>
      L'équipe nationale<br/>
      Alain Juppé 2017
      </p>
    </div>
  </div>
</div>