<form method="post" action="redirect_to_ogone">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <input name="email" placeholder="Email" required="required">
    <input name="first_name" placeholder="Prénom" required="required">
    <input name="last_name" placeholder="Nom" required="required">
    <input name="address" placeholder="Adresse" required="required">
    <input name="zip_code" placeholder="Code postal" required="required">
    <input name="city" placeholder="Ville" required="required">
    <input name="amount" placeholder="Montant du don" required="required">
    <input name="phone" placeholder="Téléphone" required="required">
    <div>
        <input type="radio" name="donation_type" value="Don en ligne unique" id="donation_type_unique" required="required">
        <label for="donation_type_unique">Don en ligne unique</label>
        <input type="radio" name="donation_type" value="Don en ligne récurrent" id="donation_type_reccurring">
        <label for="donation_type_reccurring">Don en ligne récurrent</label>
        <input type="radio" name="donation_type" value="Don par chèque" id="donation_type_check">
        <label for="donation_type_check">Don par chèque</label>
    </div>
    <button>Valider</button>
</form>